.swiper-container .swiper-slide, .parallax {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-container {
  margin: 0;
  width: 100%;
  height: 100vh;
  background: black;
}

.swiper-container .swiper-slide {
  background-size: cover !important;
}

.swiper-container .swiper-slide .slide-text {
  color: white;
  text-align: center;
}

.swiper-container .swiper-slide .slide-text p {
  text-transform: uppercase;
  opacity: 0.8;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 40px;
  color: white;
}

.swiper-container .swiper-slide .slide-text hr {
  width: 70%;
  line-height: 20px;
  opacity: 0.4;
}

.swiper-container .swiper-slide .slide-text h1 {
  font-size: 5em;
  font-weight: 400;
}

.swiper-container .swiper-pagination-bullet {
  background-color: grey;
}

.swiper-container .swiper-pagination-bullet .swiper-pagination-bullet-active {
  opacity: 0.7;
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #ebe6e6;
}

.sidebar-toggle {
  width: 25vw !important;
  visibility: visible !important;
}

.sidebar {
  transition: width 1s;
  width: 0vw;
  opacity: 0.9;
  color: white;
  list-style-type: none;
  position: fixed;
  right: 0;
  height: 100vh;
  background-color: black;
  z-index: 101;
}

.sidebar li,
.sidebar hr {
  clear: both;
  margin: 10px 20px;
}

.sidebar hr {
  opacity: 0.5;
}

.sidebar li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #8a8787;
}

.sidebar li a:hover {
  color: #ebe6e6;
}

.sidebar #close {
  transition: opacity 0.5s;
  opacity: 0;
  float: right;
  margin: 10px 10px;
  cursor: pointer;
  color: #8a8787;
}

.sidebar #close:hover {
  color: #ebe6e6;
}

nav {
  display: flex;
  color: white;
  justify-content: space-between;
  position: absolute;
  z-index: 100;
  width: 100%;
  align-items: center;
}

nav h3 {
  margin-left: 3%;
  font-weight: 300;
}

nav a {
  margin-right: 5%;
  color: white;
  text-decoration: none;
}

.scrolled {
  transition: height 0.5s;
  background-color: black;
  position: fixed;
  top: 0;
  height: 50px !important;
}

.some-examples {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  text-align: center;
  margin: 5%;
}

.some-examples .examples {
  background-color: #ffffff;
}

.some-examples .examples-img {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  height: 300px;
}

.some-examples h4 {
  text-transform: uppercase;
  opacity: 0.8;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 10px;
  color: grey;
  font-size: 0.9em;
}

.some-examples h2 {
  font-weight: 300;
}

.some-examples p {
  text-transform: none;
  opacity: 0.8;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 20px;
  color: grey;
  margin: 20px 15px;
}

.some-examples hr {
  width: 40%;
  line-height: 10px;
  opacity: 0.4;
  color: grey;
}

.some-examples button {
  padding: 15px;
  border: solid 2px grey;
  text-transform: uppercase;
  background: #ffffff;
  margin: 30px 0;
}

.parallax {
  background-size: cover !important;
  background-attachment: fixed !important;
  height: 35vh;
  width: 100%;
}

.parallax-text {
  color: white;
  text-align: center;
}

.parallax p {
  text-transform: uppercase;
  opacity: 0.8;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 15px;
  color: white;
}

.parallax hr {
  width: 90%;
  line-height: 15px;
  opacity: 0.4;
}

.parallax h2 {
  font-weight: 300;
}

.gallery {
  margin: 10% 5%;
  text-align: center;
}

.gallery p {
  text-transform: uppercase;
  opacity: 0.8;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 15px;
  color: #2e2c2c;
}

.gallery hr {
  width: 40%;
  line-height: 15px;
  opacity: 0.4;
}

.gallery h2 {
  font-weight: 300;
}

.gallery-photos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(200px, 300px);
  gap: 30px;
}

.gallery-photos .photos {
  padding: 15px;
  margin: 0;
  background-color: white;
}

.gallery-photos .photos-bg {
  background-size: cover !important;
  height: 100%;
}

footer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  color: white;
  background: black;
  text-align: center;
  height: 25vh;
  margin: 0;
}

footer i {
  margin: 20px 10px;
}

footer i:hover {
  color: #c4bebe;
  cursor: pointer;
}

@media (max-width: 900px) {
  .slide-text h1 {
    font-size: 3em !important;
  }
  .slide-text p {
    font-size: 1em !important;
  }
  .some-examples {
    grid-template-columns: 1fr;
    grid-auto-rows: 200px, auto;
    row-gap: 30px;
  }
  .parallax p {
    font-size: 13px;
  }
  .gallery-photos {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 300px;
  }
}
