.swiper-container {
  width: 100%;
  height: 100vh;
}

.swiper-container .img1 {
  background: url("../img/img1.jpg");
}

.swiper-container .img2 {
  background: url("../img/img2.jpg");
}

.swiper-container .img3 {
  background: url("../img/img3.jpg");
}

.swiper-container .img1,
.swiper-container .img2,
.swiper-container .img3 {
  background-size: cover;
}
