@mixin uppercaseStyle($text-transform, $line-height, $color) {
  text-transform: $text-transform;
  opacity: 0.8;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: $line-height;
  color: $color;
}
@mixin hrStyle($width, $line-height) {
  width: $width;
  line-height: $line-height;
  opacity: 0.4;
}
%flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@import "slider";
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #ebe6e6;
}
nav {
  display: flex;
  color: white;
  justify-content: space-between;
  position: absolute;
  z-index: 100;
  width: 100%;
  align-items: center;

  h3 {
    margin-left: 3%;
    font-weight: 300;
  }
  a {
    margin-right: 5%;
    color: white;
    text-decoration: none;
  }
}
.scrolled {
  transition: all 0.5s;
  background-color: black;
  position: fixed;
  top: 0;
  height: 50px !important;
}
.some-examples {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;

  text-align: center;
  margin: 5%;
  .examples {
    background-color: #ffffff;
  }
  .examples-img {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 300px;
  }
  h4 {
    @include uppercaseStyle(uppercase, 10px, grey);
    font-size: 0.9em;
  }
  h2 {
    font-weight: 300;
  }
  p {
    @include uppercaseStyle(none, 20px, grey);
    margin: 20px 15px;
  }
  hr {
    @include hrStyle(40%, 10px);
    color: grey;
  }
  button {
    padding: 15px;
    border: solid 2px grey;
    text-transform: uppercase;
    background: #ffffff;
    margin: 30px 0;
  }
}
.parallax {
  @extend %flexcenter;
  background-size: cover !important;
  background-attachment: fixed !important;
  height: 35vh;
  width: 100%;

  &-text {
    color: white;
    text-align: center;
  }
  p {
    @include uppercaseStyle(uppercase, 15px, white);
  }
  hr {
    @include hrStyle(90%, 15px);
  }
  h2 {
    font-weight: 300;
  }
}
.gallery {
  margin: 10% 5%;
  text-align: center;
  p {
    @include uppercaseStyle(uppercase, 15px, rgb(46, 44, 44));
  }
  hr {
    @include hrStyle(40%, 15px);
  }
  h2 {
    font-weight: 300;
  }
}

.gallery-photos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(200px, 300px);
  gap: 30px;

  .photos {
    padding: 15px;
    margin: 0;
    background-color: white;
  }
  .photos-bg {
    background-size: cover !important;
    height: 100%;
  }
}
footer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  color: white;
  background: black;
  text-align: center;
  height: 25vh;
  margin: 0;

  i {
    margin: 20px 10px;

    &:hover {
      color: #c4bebe;
      cursor: pointer;
    }
  }
}

@media (max-width: 900px) {
  .some-examples {
    grid-template-columns: 1fr;
    grid-auto-rows: (200px, auto);
    row-gap: 30px;
  }
  .parallax {
    p {
      font-size: 13px;
    }
  }
  .gallery-photos {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 300px;
  }
}
